* {
    margin: 10px 10px 10px 10px;
}

button{
    padding: 0px 0px 0px 0px;
}

.finish-task {
        padding: 5px 5px 5px 5px;
        button {
            p:hover {
                -webkit-transition: .4s;
                transition: .4s;
                color: orange;
            }
        }
    }

p:hover {
    -webkit-transition: .4s;
    transition: .4s;
    color: #ff828d;
}

.list-group-item {
    border-color: black;
    width: max-content;
}