<h2>Task To Do: </h2>

<div>
    <form [formGroup]="taskForm" (ngSubmit)="addTask()">
        <label for="form1" class=''> Name:
            <input mdbInput type="text" id="form1" class="form-control" formControlName="name">
        </label>
        <label> Description:
            <input mdbInput type="text" id="form1" class="form-control" formControlName="description">
        </label>


        <button type="submit" mdbBtn mdbWavesEffect color="primary">
            <p>Add Task</p>
        </button>
    </form>


    <ul>
        <li *ngFor="let task of tasks" class="list-group-item">
            <span><b>Name of task: </b>{{task.name}} </span><b>Description: </b>{{task.description}}
            <button class="finish-task" title="Mark a task as finished" (click)="finishTask(task)" mdbBtn
                mdbWavesEffect color="green">Done</button>
        </li>
    </ul>

    <app-done-tasks></app-done-tasks>

</div>