<h2 class="task-to-do-title">Task To Do: </h2>

<div>
    <form [formGroup]="taskForm" (ngSubmit)="addTask()" class="forms">
        <label for="form" class="mr-3"> Name:
            <input mdbInput type="text" id="task-form" class="form-control d-flex mr-3" formControlName="name">
        </label>
        <label class="mr-3"> Description:
            <input mdbInput type="text" id="task-description-form" class="form-control" formControlName="description">
        </label>


        <button class="add-task-button" type="submit" mdbBtn mdbWavesEffect color="primary" title="Adding a task">
            <span class="add-task-text">Add Task</span>
        </button>
    </form>


    <ul>
        <li *ngFor="let task of tasks" class="list-group-item">
            <span><b>Name of task: </b>{{task.name}} </span><b>Description: </b>{{task.description}}
            <button class="finish-task-button" title="Mark a task as finished" (click)="finishTask(task)" mdbBtn mdbWavesEffect color="green"><span class ="finish-task-text"> Done</span></button>
        </li>
    </ul>

    <app-done-tasks></app-done-tasks>

</div>