<h2 class="done-task-title"> Done Tasks </h2>

<div>
    <ul>
        <div class="p-3">
            <li *ngFor="let task of doneTasks" class="list-group-item mt-2">
                <mdb-icon fas icon="check-circle"></mdb-icon>
                <span><b> Name of task: </b>{{task.name}} </span><b>Description: </b>{{task.description}}
            </li>
        </div>
    </ul>
    <div class="p-3" *ngIf="router === '/tasks/done'">
        <a [routerLink]="['/tasks']" routerLinkActive="active" mdbBtn color="red" class="text-warning stretched-link" style="position: relative" title="List of done tasks">Add tasks</a>
    </div>
</div>